@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Voces&display=swap');

body {
      background-image: "./images/beerGarden.jpg";
      background-image: 'cover';
      background-image: 'no-repeat';
    }

header, h1 {
  font-family: 'Germania One', cursive;
  text-align: center;
  font-size: calc(3em + 3vw);
}

main {
  font-family: 'Voces', cursive;
  text-align: center;
  font-size: larger;
}

.beer-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.beer-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  border: 1px solid wheat;
  border-radius: 8px;
  margin: 0.5em;
  width: 260px;
}

.beer-image {
  width: 100%;
  max-height: 500px;
}

.close-button {
  position: absolute;
  top: 4px;
  right: 12px;
  opacity: 0.5;
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}
.close-button:hover {
  opacity: 1.0;
}

.beer-image img {
  max-width: 90%;
}

.beer-card h2 {
  font-size: medium;
  margin-bottom: 4px;
}

.beer-card p {
  margin-top: 0;
}

.rating {
  position: relative;
  height: 30px;
  width: 100%;
}

.grey-stars {
  position: absolute;
  left: calc(50% - 2.5em);
  filter: grayscale(1) contrast(0.5);
}

.yellow-stars {
  margin-top: 0;
  left: calc(50% - 2.5em);
  position: absolute;
  overflow: hidden;
}

button{
  font-family: 'Voces', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 180px;
  height: 60px;
  margin: auto;
 
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #e9e7e4;
  overflow: hidden;
  transition: 0.6s;
}

button:before, button:after{
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
button:before{
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
button:after{
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
button:hover:before,
button:hover:after{
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
button:hover{
  color: #f2f2f2;
}

button:hover:last-child{
  background: #b75712;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
  color: rgb(253, 254, 251);
}

a {
  font-family: 'Voces', cursive;
  color: rgba(247, 250, 249, 0.557);
}